<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/global.css">
    <script src="/static/htmx.js"></script>
</head>

<body>
<div class="container is-max-tablet">
    <div class="content mt-4">
        <h1><a href="/sheet/{{.SectionName}}">&lt;</a> Редактирование карточки</h1>
    </div>

    <form hx-post="/sheet/{{ .SectionName }}/{{.Id}}/edit" hx-target="#result">
        <input class="input mt-4" value="{{ .Name}}" type="text" placeholder="Название карточки" name="name"/>
        <textarea class="textarea is-link mt-4"
                  name="description"
                  hx-trigger="load, click delay:1s"
                  hx-post="/preview"
                  hx-target="#preview"
        >{{ .Description}}</textarea>
        <div class="is-flex is-justify-content-right">
            <input class="button is-success mt-4" type="submit" value="Сохранить"/>
        </div>
    </form>
    <div id="preview"></div>

    <div id="result"></div>
</div>
</body>

</html>