<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/global.css">
    <script src="/static/htmx.js"></script>
</head>

<body>

<div class="container is-max-tablet">
    <div class="content">
        <h1> Cheatsheet for {{ .SectionName }} </h1>
        <a href="/sheet/{{.SectionName}}/add">
            Add card
        </a>
    </div>

    <div class="content">
        <blockquote>
            Здесь можно накидывать информационные карточки.
        </blockquote>
    </div>

    <div class="content" style="color: black">
        This text is within a
        <span class="tag is-light is-medium"> <strong>third block</strong>. </span>
        This block has no margin at the bottom.
    </div>

    {{ range .Cards }}
        <div class="box" id="card_{{.Id}}">
        <span
                hx-delete="/sheet/{{$.SectionName}}/{{.Id}}"
                hx-target="#card_{{.Id}}"
                hx-swap="delete"
                class="icon fa fa-trash is-clickable"
                style="float: right"
        ></span>

            <a href="/sheet/{{$.SectionName}}/{{.Id}}/edit">
            <span
                    class="icon fa fa-pen-to-square is-clickable"
                    style="float: right;
                    color:darkslategray"
            ></span>

            </a>

            <div class="content">
                <h2>{{ .Name }}</h2>
                <p>{{ .Description }}</p>
            </div>
        </div>
    {{ end }}
</div>

</body>

</html>