<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/global.css">
</head>

<body>

<div class="container is-max-tablet">
    <div class="content">
    <h1> Cheatsheet for {{ .SectionName }} </h1>
        <a href="/sheet/{{.SectionName}}/add">
            Add card
        </a>
    </div>

    {{ range .Cards }}
    <div class="box">
        <span class="icon fa fa-trash" style="float: right"></span>

        <div class="content">
            <h2>{{ .Name }}</h2>
            <p>{{ .Description }}</p>
        </div>
    </div>
    {{ end }}
</div>

</body>

</html>