<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Test</title>
        <link rel="stylesheet" href="/static/bulma.min.css" />
        <link rel="stylesheet" href="/static/global.css" />
        <script src="/static/htmx.js"></script>
    </head>

    <body>
        <div class="container is-max-tablet">
            <div class="content">
                <span class="title">
                    Cheatsheet for {{ .SectionName }}
                </span>
                <br>
                <br>
                <!--<h1>Cheatsheet for {{ .SectionName }}</h1>-->
                {{ if .Sections }}
                <div class="category-switcher buttons">
                    {{ range .Sections }}
                    <a href="/sheet/{{.Name}}" class="button {{if .Active}}is-active{{end}}">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
                <a href="/sheet/{{.SectionName}}/add" class="button is-success">
                    Add card
                </a>
            </div>

            {{ range .Cards }}
            <div id="card_{{.Id}}" class="card">
                <div class="note">
                    <div class="title">{{ .Name }}</div>
                    <div class="date">{{ .UpdatedAt }}</div>
                    <div class="note-actions">
                        <div class="tag is-warning">tech</div>
                        <span
                            hx-post="/sheet/{{$.SectionName}}/{{.Id}}/pin"
                            hx-swap="none"
                            class="icon fa fa-thumbtack is-clickable pin-card-icon {{if .Pinned}}is-pinned{{end}}"
                            title="{{if .Pinned}}Unpin card{{else}}Pin card{{end}}"
                        ></span>
                        <span
                            hx-delete="/sheet/{{$.SectionName}}/{{.Id}}"
                            hx-target="#card_{{.Id}}"
                            hx-swap="delete"
                            class="icon fa fa-trash is-clickable"
                        ></span>
                        <a href="/sheet/{{$.SectionName}}/{{.Id}}/edit">
                            <span
                                class="icon fa fa-pen-to-square is-clickable edit-card-icon"
                            ></span>
                        </a>
                    </div>

                    <div class="note-content">
                        <div class="content">
                            <p>{{ .Description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </body>
</html>
